- if request.url.include? "sips"
  - title = "Statistically Improbable Terms"
- else
  - title = "Dictionary"
- if params[:person_id]
  %h2= "#{title} for #{Person[params[:person_id]].name}"
- @dictionary.sort_by! {|pair| -pair[1]}
- @dictionary.each do |pair|
  = pair[1].truncate
  %a{:href=> url("/keyword/#{pair[0]}/with/#{params[:person_id]}")}= pair[0]
  //%br
