- unless @gchart.nil?
  %img{:src => @gchart}
  %br
%br
- @segments.each_with_index do |kv, index|
  - unless index == (@segments.count - 1)
    = "{#{@time_period}: #{kv[0]}, messages: #{kv[1].to_s.rjust(4, "0")}},"
  - else
    = "{#{@time_period}: #{kv[0]}, messages: #{kv[1].to_s.rjust(4, "0")}}"
  %br
